:root {
    --primary-color: #F63540;
}


/* ------------------------------------------------------------
        body
------------------------------------------------------------ */

body {position:relative; color:#000; background-color: #FAFAFA;}
body:before {content:''; z-index:300; position:absolute; left:0; top:0; width:1px; height:100%; background-color:rgba(138, 138, 138, 0.1); }
body:after {content:''; z-index:300; position:absolute; right:0; top:0; width:1px; height:100%; background-color:rgba(138, 138, 138, 0.1); }

@media all and (max-width:600px){
    body {border-right:0 none; border-left:0 none; }
}


/* ------------------------------------------------------------
        lottie
------------------------------------------------------------ */
#lottie {z-index:200; position:fixed; left:0; top:0; visibility:visible; opacity:1; display:flex; align-items:center; justify-content:center; width:100%; height:100%; background-color:#fff; transition:all 0.3s; }
#lottie.off {z-index:-1000; visibility:hidden; opacity:0; }
#lottie .lottie_logo {width:150px; }


/* ------------------------------------------------------------
        헤더
------------------------------------------------------------ */
header {z-index:100; position:sticky; top:0; overflow:hidden; width:100%; background-color:#fff; transition:top 0.5s; }
header.header_mini {top:-64px; }
header .top_area {display:flex; align-items:center; justify-content:center; width:100%; height:64px; }
header .top_area.border_type {border-bottom:1px solid rgba(138, 138, 138, 0.1); }
header .top_area .title {font-size:16px; font-weight:500; }
header .top_area .page_prev {position:absolute; left:16px; top:calc(50% - 24px); }
/* header .top_area .page_prev img {width:48px; height:48px; } */
header .gnb {position:relative; height:40px; }
header .gnb.hidden {display:none; }
header .gnb .underline {position:absolute; left:0; bottom:0; width:100px; height:2px; background-color:var(--primary-color); transition:all 0.5s; }
header .gnb * {height:100%; }
header .gnb .swiper-slide {width:auto; color:#313131; }
header .gnb .swiper-slide a {display:flex; align-items:center; justify-content:center; padding:0 16px; color:#313131; }
header .gnb .swiper-slide a span {height:auto; }
header .gnb .swiper-slide.active a {color:var(--primary-color); }

/* ------------------------------------------------------------
        퀵메뉴
------------------------------------------------------------ */
.quick_menu {z-index:100; position:fixed; left:50%; bottom:0; width:600px; max-width:100%; border-top:1px solid rgba(138, 138, 138, 0.1); background-color:#fff; transform:translateX(-50%); }
.quick_menu ul {display:grid; grid-template-columns:repeat(3,1fr);}
.quick_menu ul li a {display:flex; flex-direction:column; align-items:center; justify-content:center; padding:4px 0 20px; font-size:10px; }
.quick_menu ul li a img {width:30px; }
.quick_menu ul li a i {display:flex; align-items:center; justify-content:center; width:24px; height:24px; margin:3px; border:2px solid #888; border-radius:50%; }
.quick_menu ul li a i img {width:85%; }
.quick_menu ul li.active a {color:var(--primary-color); }
.quick_menu ul li.active a i {border-color:var(--primary-color) }


/* ------------------------------------------------------------
        메인
------------------------------------------------------------ */
.main {padding-bottom:70px ; }
section {padding:16px 16px 20px;}
.gray_type {background-color:#FAFAFA; }
.main_tit {padding-bottom:12px; font-size:28px; font-weight:700; letter-spacing:-0.28px; line-height:1.3; }


/* ------------------------------------------------------------
        컴포넌트
------------------------------------------------------------ */
/* topic_thumbnail */
.visual_type {padding:0; }
.visual_type .topic_thumbnail{border-radius:0;}
.topic_thumbnail {overflow:hidden; position:relative; box-shadow:0 0 16px 0 rgba(0,0,0,0.06); border-radius:12px; }
.topic_thumbnail a {position:relative; display:block; width:100%; padding-bottom:125%;  }
.topic_thumbnail a:before {content:''; z-index:2; position:absolute; left:0; bottom:0; width:100%; height:100%; background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 17.8%, rgba(0, 0, 0, 0.00) 51.6%);}
.topic_thumbnail img {z-index:1; position:absolute; left:0; top:0; display:block; width:100%; height:100%; object-fit:cover; }
.topic_thumbnail .txt_box {z-index:3; position:absolute; left:0; bottom:0; width:100%; padding:16px; }
.topic_thumbnail .txt_box h5 {font-size:28px; color:#fff; font-weight:700; letter-spacing:-0.28px; }
.topic_thumbnail .txt_box p {margin-top:5px; font-size:13px; color:#fff; font-weight:600; opacity:.8; }


/* topic_list */
.topic_list + .post_frame {margin-top:5px; }
.topic_list .title {margin-bottom:15px; }
.topic_list .title a {display:flex; align-items:center; gap:16px; }
.topic_list .title a i {overflow:hidden; display:block; width:42px; height:42px; border-radius:50%; }
.topic_list .title a i img {width:100%; height:100%; object-fit:cover; }
.topic_list .title a span {font-size:28px; font-weight:700; letter-spacing:-0.28px; }

.topic_list ul {display:flex; flex-wrap:wrap; gap:24px 8px; width:100%; }
.topic_list ul li:first-of-type {width:100%; }
.topic_list ul li {width:calc(50% - 4px); }
.topic_list ul li a {display:block; width:100%; }
.topic_list ul li .img_box {overflow:hidden; position:relative; width:100%; padding-bottom:125%; border-radius:4px; }
.topic_list ul li .img_box img {position:absolute; left:0; top:0; width:100%; height:100%; object-fit:cover; }
.topic_list ul li .txt_box {margin-top:8px; }
.topic_list ul li .txt_box .rank {font-size:15px; font-weight:600; }
.topic_list ul li .txt_box .name {overflow:hidden; max-width:100%; text-overflow:ellipsis; white-space:nowrap; font-size:13px; font-weight:600; }
.topic_list ul li .txt_box p.cate {font-size:14px; color:var(--primary-color); font-weight:600; }
.topic_list ul li:first-of-type .txt_box .rank {font-size:20px;}
.topic_list ul li:first-of-type .txt_box .name {margin:4px 0; font-size:18px;}

.topic_list.same_type ul li:first-of-type {width:calc(50% - 4px); }
.topic_list.same_type ul li:first-of-type .txt_box .rank {font-size:15px; }
.topic_list.same_type ul li:first-of-type .txt_box .name {font-size:13px; }

.topic_list.type02 ul {gap:10px; }
.topic_list.type02 ul li,
.topic_list.type02 ul li:first-of-type {overflow:hidden; position:relative; width:calc(50% - 5px); border-radius:4px; }
.topic_list.type02 ul li .img_box {padding-bottom:153%; }
.topic_list.type02 ul li .txt_box {position:absolute; left:0; bottom:0; display:flex; align-items:flex-end; width:100%; height:30%; padding:10px; background: linear-gradient(0deg, rgba(43,43,43, 0.80) 0%, rgba(43,43,43, 0.00) 85%); }
.topic_list.type02 ul li:first-of-type .txt_box .name,
.topic_list.type02 ul li .txt_box .name {font-size:16px; color:#fff; font-weight:600; text-overflow:unset; white-space:unset; word-break:keep-all; }
.topic_list.type02 ul li .txt_box .cate {display:none; }

/* popular_list */
.popular_list .popular_list_slide {margin-top:12px; }
.popular_list .popular_list_slide .swiper-slide {width:158px; }
.popular_list .popular_list_slide .swiper-slide .img_box {overflow:hidden; width:158px; height:158px; border:1px solid #e7e7e7; border-radius:50%; }
.popular_list .popular_list_slide .swiper-slide .img_box img {width:100%; height:100%; object-fit:cover;}
.popular_list .popular_list_slide .swiper-slide .txt_box {margin-top:8px; text-align:center; }
.popular_list .popular_list_slide .swiper-slide .txt_box .name {font-size:13px; font-weight:500; letter-spacing:0.78px; }

/* issue_list */
.issue_slide {overflow:hidden; }
.issue_slide .issue_list {overflow:visible; }
.issue_slide .issue_list .swiper-slide {width:160px; }
.issue_slide .issue_list .swiper-slide .img_box {overflow:hidden; position:relative; width:100%; padding-bottom:175%; border-radius:4px; }
.issue_slide .issue_list .swiper-slide .img_box img {position:absolute; left:0; top:0; width:100%; height:100%; object-fit:cover; }
.issue_slide .issue_list .swiper-slide .txt_box {margin-top:8px; }
.issue_slide .issue_list .swiper-slide .txt_box .name {overflow:hidden; max-width:100%; text-overflow:ellipsis; white-space:nowrap; font-size:13px; font-weight:600; }
.issue_slide .issue_list .swiper-slide .txt_box .cate {font-size:14px; color:var(--primary-color); font-weight:600; }


/* ------------------------------------------------------------
        마이페이지
------------------------------------------------------------ */
.mypage {padding-bottom:70px; }
.mypage section {padding:40px 16px 20px; }
.mypage_con01 { background:url('../img/main01_bg.png') no-repeat center center; }
.mypage_con01 .inner > div {position:relative; display:block;  }
.mypage_con01 .txt_box {width:330px; max-width:100%; margin:0 auto; font-size:38px;font-weight:700;line-height:125.581%;letter-spacing: -1.72px }
.mypage_con01 .txt_box img {display:block;margin:10px 0 30px }
.mypage_con01 .mock_img {position:relative;width:304px;max-width:100%;padding:5px 0 34px; margin:0 auto }
.mypage_con01 .down_btn {display:flex;align-items: center;justify-content: center;width:337px;max-width:100%;height:56px;font-size: 19px;font-family:Pretendard;font-weight:600;color:#fff;background-color: #F63540;border-radius: 6px;letter-spacing:0 }
.mypage_con01 .mock_img .down_btn {position:absolute;left:0; top:0; display:flex;top:63%; }
.mypage_con01 .bottom_txt {padding:100px 0 50px; font-size:18px; text-align:center; font-weight:700; line-height:1.5; letter-spacing:-0.38px; }
.mypage_con01 .bottom_txt b {color:var(--primary-color); font-weight:900; }



/* ------------------------------------------------------------
        추천페이지
------------------------------------------------------------ */
.recommend {padding-bottom:70px; background-color: #fff;}

/* 포스트 */
.post_frame {padding:0; }
.post_frame .img_list .swiper-slide {position:relative; width:100%; padding-bottom:125%; }
.post_frame .img_list .swiper-slide > img,
.post_frame .img_list .swiper-slide > video {position:absolute; left:0; top:0; width:100%; height:100%; object-fit:cover; }

.post_frame .img_list.video_only .swiper-slide {padding-bottom:156.667%; }
.post_frame .img_list.video_only .tag_list {z-index:10; position:absolute; right:0; bottom:8px; }
.post_frame .img_list.video_only {margin-bottom:10px; }

.post_frame .img_list .swiper-slide.video_item .video_control {z-index:10; position:absolute; left:0; bottom:0; width:100%; height:4px; background-color:#888; }
.post_frame .img_list .swiper-slide.video_item .video_control span {display:block; width:0%; height:100%; background-color:var(--primary-color); }
.post_frame .img_list .swiper-slide.video_item .video_volume {z-index:10; position:absolute; right:14px; bottom:54px; }

.post_frame .img_list .swiper-pagination {width:100%; }
.post_frame .img_list .swiper-pagination-bullet {opacity:.4}
.post_frame .img_list .swiper-pagination-bullet:first-of-type,
.post_frame .img_list .swiper-pagination-bullet:last-of-type {transform:scale(0.66); }
.post_frame .img_list .swiper-pagination-bullet-active:first-of-type,
.post_frame .img_list .swiper-pagination-bullet-active:last-of-type {transform:scale(1); }
.post_frame .img_list .swiper-pagination-bullet-active {background:var(--primary-color); opacity:1; }

.post_frame .img_list .pager {z-index:10; opacity:0; position:absolute; top:16px; right:16px; padding:2px 8px; font-size:14px; color:#e7e7e7; font-weight:500; letter-spacing:0.56px; background:rgba(0,0,0,0.5); border-radius:40px; transition:opacity 0.4s; }
.post_frame .img_list:hover .pager {opacity:1; }


.post_frame .img_list .tag_list {margin:10px 0 4px; padding:0 18px; text-align:right; } 
.post_frame .img_list .tag_list span {display:none; font-size:12px; font-weight:400; color:#aaa; }
.post_frame .img_list .tag_list span.active {display:block; }

.post_frame .txt_box {padding:5px 16px 12px; line-height:1.5; }
.post_frame .txt_box .top_btn {display:flex; align-items:center; justify-content:space-between; }
.post_frame .txt_box .top_btn > div {display:flex; align-items:center; gap:20px; }
.post_frame .txt_box .like_box {display:flex; align-items:center; justify-content:space-between; margin-top:12px; }
.post_frame .txt_box .like_box p {font-size:15px; font-weight:600; }
.post_frame .txt_box .like_box button {font-size:13px; color:#aaa;}

.post_frame .txt_box .tag_box {display:flex; flex-wrap:wrap; align-items:center; gap:10px; margin-top:8px; }
.post_frame .txt_box .tag_box button {font-size:14px; color:var(--primary-color); font-weight:600; }

.post_frame .txt_box .desc_box {padding:13px 0; cursor:pointer; }
.post_frame .txt_box .desc {overflow:hidden; max-height:42px; font-size:14px; color:#000; }
.post_frame .txt_box .desc p {min-height:21px; }
.post_frame .txt_box .desc.open {max-height:100%; }
.post_frame .txt_box .desc.open button {display:none; }
.post_frame .txt_box .desc button {color:#6B6B6B;}

.post_frame .txt_box .category_box {display:flex; align-items:center; justify-content:space-between; }
.post_frame .txt_box .category_box button {display:flex; align-items:center; font-size:13px; color:#6b6b6b; }
.post_frame .txt_box .category_box p {font-size:12px; color:#aaa; }

.post_frame .txt_box .comment_box {display:flex; align-items:center; gap:12px; padding:20px 0; cursor:pointer; }
.post_frame .txt_box .comment_box i {overflow:hidden; width:36px; height:36px; border-radius:50%; }
.post_frame .txt_box .comment_box i img {width:100%; height:100%; object-fit:cover; }
.post_frame .txt_box .comment_box .comment {flex-grow:1; height:35px; padding:7px 12px; border-radius:4px; font-size:14px; color:#aaa; background-color:#FAFAFA; }
.post_frame .txt_box .comment_box button {padding:4px; font-size:13px; font-weight:600; color:var(--primary-color); }

.post_frame .txt_box .comment_list {padding:13px 0; }
.post_frame .txt_box .comment_list > p {margin-bottom:12px; font-size:14px; color:#6b6b6b; }
.post_frame .txt_box .comment_list .comment_item {display:flex; align-items:center; gap:8px; }
.post_frame .txt_box .comment_list .comment_item b {font-weight:600; font-size:14px; color:#313131; }

