
/* body {
    width:100% ; 
    font-family: 'Apple SD Gothic Neo','Noto Sans KR','Malgun Gothic',arial,sans-serif;;
    word-break:keep-all;
    background-color: #fff;
} */

#landing {
    font-family: 'Apple SD Gothic Neo','Noto Sans KR','Pretendard',arial,sans-serif;
    word-break:keep-all;
}

body.noscroll {
    overflow:hidden;
}

#landing .inner {
    width:1300px;
    max-width:100%;
    margin:0 auto;
    padding:0 10px;
}

#wrap {
    position:relative;
}

@media all and (max-width:991px){
    #landing .inner {
        padding:0 16px; 
    }
}



/* #=========================================#
        HEADER
#=========================================# */
#landing header {
    position:fixed;
    left:0; top:0; z-index:100;
    width:100%;
    height:auto;
    padding:20px 0 10px;
    background-color:transparent;
    transition:background 0.4s;
}
#landing header.fixed {
    background-color:rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
}
#landing header .inner {
    display:flex; 
    align-items: center;
    justify-content: space-between;
}
#landing header .right_box {
    display:flex;
    align-items: center;
    gap:48px
}
#landing header .right_box a {
    padding:10px 16px;
    font-size:17px;
    font-weight:700;
}
#landing header .down_btn {
    color:#fff;
    background-color: #F63540;
    border-radius: 4px;
}
#landing header .right_box a.ham_icon {
    display:none;
}

@media all and (max-width:991px){
    #landing header {
        padding:10px 0 6px;
    }
    #landing header .right_box {
        gap:8px;
    }
    #landing header .right_box a.about_link {
        display:none; 
    }
    #landing header .right_box a.ham_icon {
        display:block;
        padding:0;
    }
    #landing header .right_box a {
        padding:8px 13px; 
        font-size:13px;
    }
}


/* #=========================================#
        MOBILE MENU
#=========================================# */
#landing .mobile_menu {
    z-index:101; 
    position:fixed;
    left:0; top:0; 
    opacity:0;
    visibility: hidden;
    width:100%;
    height:100%;
    overflow-y:auto;
    background-color:#000;
    transition:all 0.5s;
}
#landing .mobile_menu.open {
    z-index:101; 
    opacity:1;
    visibility: visible;
}
#landing .mobile_menu .top_box {
    padding:12.5px 16px;
    text-align: right;
}
#landing .mobile_menu .down_btn {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:calc(100% - 34px);
    padding: 12px 16px;
    margin:0 auto 17px;
    background-color: #121212;
    border-radius:6px;
    font-size: 16px;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 0.32px;
    color:#E7E7E7;
}
#landing .mobile_menu .menu_box {
    padding:10px 16px 30px;
}
#landing .mobile_menu .menu_box h4 {
    padding:0 10px; 
    font-size: 12px;
    font-weight: 600;
    line-height: 166.667%;
    letter-spacing: -0.24px;
    color:#6B6B6B;
}
#landing .mobile_menu .menu_box > ul {
    padding:5px 16px 5px 10px; 
}
/*#landing .mobile_menu .menu_box ul li + li {
    margin-top:20px; 
} */
#landing .mobile_menu .menu_box > ul ul {
    /* overflow:hidden;
    height:0;
    padding:0 0; */
    display:none;
    padding:8px 0; 
    transition:all 0.5s;
}
#landing .mobile_menu .menu_box > ul ul.open {
    height:auto;
    padding:8px 0;
}
#landing .mobile_menu .menu_box ul ul li + li {
    margin-top:8px;
}
#landing .mobile_menu .menu_box a {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 0.32px;
    color:#E7E7E7;
    font-family:Pretendard;
}
#landing .mobile_menu .menu_box > ul ul a {
    padding:2px 0;
    font-size:14px;
    line-height: 24px; /* 171.429% */
    letter-spacing: -0.21px;
    font-weight:400;
}
#landing .mobile_menu .menu_box a.on img {
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    transform:rotate(180deg);
}
#landing .mobile_menu .devider {
    width:100%;
    height:2px;
    background-color: #4a4a4a;
    margin: 27px 0;

}


/* #=========================================#
        FOOTER
#=========================================# */
#landing footer {
    position:relative;
    z-index:50;
    padding:24px 0;
    background-color: #FAFAFA;
}
#landing footer .fnb {
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
}
#landing footer .fnb .sns_link {
    display:flex;
    gap:16px;
    margin-top:12px; 
}
#landing footer .fnb .right_link {
    display:flex; 
    align-items: flex-start;
    gap:32px;
}
#landing footer .fnb .right_link a {
    font-size: 14px;
    font-weight: 700;
    line-height: 200%; 
    letter-spacing: -0.21px;
    color:#6B6B6B;
}
#landing footer .fnb .right_link .cs_btn {
    position:relative; 
}
#landing footer .fnb .right_link .cs_btn a {
    display:flex; align-items: center;
    gap:8px;
}
#landing footer .fnb .right_link .cs_btn a.on img {
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    transform:rotate(180deg);
}
#landing footer .fnb .right_link .cs_btn p {
    display:none; 
    position:absolute; right:0; top:100%;
    padding:5px;
    border:1px solid #ababab;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
    line-height: 150%; 
    letter-spacing: -0.21px;
    color:#6B6B6B;
    white-space: nowrap;
    background-color: #f6f6f6;
}
#landing footer .address {
    margin-top:20px; 
    color:#aaa;
    font-size: 12px;
    font-weight: 500;
    line-height: 200%; 
    letter-spacing: -0.18px;
}
#landing footer .address > p {
    font-weight: 700;
}
#landing footer .address ul {
    display:flex; 
    justify-content: space-between;
    gap:100px;
    width:620px;
    max-width:100%;
}
#landing footer .address ul li p {
    display:flex;
}
#landing footer .address ul li span {
    white-space:nowrap;
}
#landing footer .address ul li span:first-of-type {
    width:108px;
}
#landing footer .address ul li span:last-of-type {
    width:calc(100% - 108px);
}

@media all and (max-width:991px){
    #landing footer .fnb {
        display:block;
    }
    #landing footer .fnb .right_link {
        margin-top:14px;
        flex-direction: column;
        gap:2px;
    }
    #landing footer .fnb .right_link .cs_btn p {
        right:auto;
        left:0; 
        text-align: left;
    }
    #landing footer .fnb .right_link a {
        font-weight:500;
    }
    #landing footer .address {
        color:#6B6B6B;
        font-size:14px;
    }
    #landing footer .address ul {
        display:block; 
    }
    #landing footer .address ul li:nth-of-type(2){
        margin-bottom:30px;
    }
    #landing footer .address ul li span {
        white-space:unset;
    }
    #landing footer .address ul li span:first-of-type {
        width:120px;
    }
    #landing footer .address ul li span:last-of-type {
        width:calc(100% - 120px);
    }
}


/* #=========================================#
        공통타이틀
#=========================================# */
#landing .tit_box {
    letter-spacing: -0.38px; 
}
#landing .tit_box h3 {
    font-size: 38px;
    font-weight: 700;
    line-height: 131.579%; 
}
#landing .tit_box h3 b {
    font-weight:900;
    color:#E72C37;
}
#landing .tit_box p {
    margin-top:24px;
    font-size: 19px;
    font-weight: 500;
    line-height: 157.895%; 
}


@media all and (max-width:991px){
    #landing .tit_box h3 {
        font-size: 34px;
        letter-spacing: -0.68px;
    }
    #landing .tit_box h3 b {
        letter-spacing: -1.02px;
    }
    #landing .tit_box p {
        font-size:16px; 
        line-height:156.25%;
        letter-spacing: -0.16px;
    }
}

#landing .tit_box02 {
    text-align:center;
}
#landing .tit_box02 img {
    height:40.7px;
}
#landing .tit_box02 h3 {
    color:#000;
    font-size: 36px;
    font-weight: 700;
    line-height: 144.444%;
    letter-spacing: -0.72px;
}
#landing .tit_box02 p {
    margin-top:24px;
    color:#000;
    font-size: 18px;
    font-weight: 400;
    line-height: 166.667%;
    letter-spacing: -0.36px;
}

@media all and (max-width:991px){
    #landing .tit_box02 img {
        height:30px
    }
    #landing .tit_box02 h3 {
        font-size:24px;
        line-height: 150%; 
        letter-spacing: -0.48px;
    }
    #landing .tit_box02 p {
        margin-top:11px;
        font-size: 15px;
        letter-spacing: -0.3px;
    }
}


/* #=========================================#
        MAIN
#=========================================# */

/* main - content */
#landing .main_con01 {
    background:url('../img/landing/main01_bg.png') no-repeat center center;
}
#landing .main_con01 .inner > div {
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;
    min-height:100vh;
}
#landing .main_con01 .txt_box {
    position:absolute; 
    left:0; top:45%;
    max-width:27%;
    font-size:43px;
    font-weight:700;
    line-height:125.581%;
    letter-spacing: -1.72px;
}
#landing .main_con01 .txt_box img {
    display:block;
    margin:10px 0 30px;
}
#landing .main_con01 .mock_img {
    position:relative;
    width:443px;
    max-width:34.675%;
    padding:68px 0 34px; 
    margin:0 auto;
}
#landing .main_con01 .down_btn {
    display:flex;
    align-items: center;
    justify-content: center;
    width:337px;
    max-width:100%;
    height:56px;
    font-size: 19px;
    font-family:Pretendard;
    font-weight:600;
    color:#fff;
    background-color: #F63540;
    border-radius: 6px;
    letter-spacing:0;
}
#landing .main_con01 .mock_img .down_btn {
    position:absolute;
    left:0; top:0; 
    display:none;
}
@media all and (max-width:991px){
    #landing .main_con01 .inner > div {
        display:block; 
    }
    #landing .main_con01 .txt_box {
        position:static; 
        width:330px; 
        max-width:100%;
        margin:0 auto;
        padding-top:70px; 
        font-size: 38px;
        letter-spacing: -1.14px;
    }
    #landing .main_con01 .txt_box .down_btn {
        display:none;
    }
    #landing .main_con01 .mock_img {
        width:304px;
        max-width:100%;
        padding-top:5px;
    }
    #landing .main_con01 .mock_img .down_btn {
        display:flex;
        top:63%;
    }
}

@media all and (max-width:767px){
    #landing .main_con01 .txt_box {
        margin:0;
    }
}

#landing .main_con02 .bottom_txt {
    padding:100px 0 ;
    text-align:center;
    font-size:22px;
    font-weight:700;
    line-height:32px;
    letter-spacing: -0.38px;
}
#landing .main_con02 .bottom_txt b {
    color:#E72C37;
    font-weight:900;
}
#landing .main_con02 img.mo_ver {
    display:none;
}
@media all and (max-width:991px){
    #landing .main_con02 .bottom_txt {
        padding:200px 0 100px;
		font-size:18px;
        line-height:28px;
    }
    #landing .main_con02 img.pc_ver {
        display:none;
    }
    #landing .main_con02 img.mo_ver {
        display:block;
    }
}

/* main_con03 */
#landing .main_con03 {
    padding-top:200px;
}
#landing .main_con03 .inner {
    position:relative;
}
#landing .main_con03 .tit_box {
    z-index:10;
    position:absolute;
    left:10px; top:0;
    width:29%;
}
#landing .main_con03 .tit_box span {
    display:none;
}
#landing .main_con03 .slide_box {
    overflow:hidden;
    position:relative;
    /* padding-top:470px; */
}
#landing .main_con03 .slide_box:before {
    content:'';
    z-index:10;
    position:absolute; left:0; bottom:-3px;
    width:100%; height:100%;
    background-image: linear-gradient(180deg, transparent 65% 0, #FFF 95% 100%);
}
#landing .main_con03 .slide_box .navigation {
    z-index:10;
    position:absolute; top:50%;
    cursor:pointer;
}
#landing .main_con03 .slide_box .navigation.prev {
    left:0; 
}
#landing .main_con03 .slide_box .navigation.next {
    right:0; 
}
#landing .main_con03 .slide_box .navigation.swiper-button-disabled {
    opacity:0;
}
#landing .main_con03 .back_slide {
    position:absolute;
    left:0; bottom:0;
    width:100%;
    padding:0 20px;
    opacity:0.9;
}
#landing .main_con03 .back_slide:before {
    content:'';
    z-index:2;
    position:absolute;
    left:0; top:0; 
    width:30%; height:100%;
    background-image: linear-gradient(-90deg, transparent 20% 0, #FFF 80% 100%);
}
#landing .main_con03 .back_slide:after {
    content:'';
    z-index:2;
    position:absolute;
    right:0; top:0; 
    width:30%; height:100%;
    background-image: linear-gradient(90deg, transparent 20% 0, #FFF 80% 100%);
}
#landing .main_con03 .back_slide li {
    overflow:hidden;
    height:347px;
    border:1px solid #E7E7E7;
    box-shadow:0px 14px 26px -4px rgba(0, 0, 0, 0.15);
    border-radius:10px;
}
#landing .main_con03 .center_box {
    z-index:2;
    position:relative;
    width:391px;
    max-width:75%;
    margin:0 auto;
}
#landing .main_con03 .center_box > img {
    z-index:3;
    position:absolute; left:0; top:0; 
    width:100%;
}
#landing .main_con03 .center_box .center_slide {
    position:relative;
    top: 19px;
    z-index:4;
    overflow:hidden;
    width:calc(100% - 42px);
    /* padding:13px 0 0; */
    margin:0 auto;
    border-top-right-radius:50px;
    border-top-left-radius:50px;
}

#landing .main_con03 .center_box .center_slide img {
    display:block;
}
#landing .main_con03 .pager {
    display:flex;
    align-items: center;
    width:100%;
    padding-bottom:10px;
}
#landing .main_con03 .pager span {
    width:33%;
    height:auto;
    background-color: transparent;
    border-radius:0;
    font-weight: 800;
    text-align:center;
    opacity:1;
}
#landing .main_con03 .pager span b {
    padding:0 0 5px; 
    color:#aaa;
    font-size: 24px;
}
#landing .main_con03 .pager span.swiper-pagination-bullet-active b {
    font-size:36px;
    color:#F63540;   
    border-bottom:5px solid #F63540;
}

@media all and (max-width:991px){
    #landing .main_con03 {
        padding-top:150px
    }
    #landing .main_con03 .back_slide {display:none;}
    #landing .main_con03 .tit_box {
        position:static;
        width:100%;
    }
    #landing .main_con03 .tit_box span {
        display: block;
        padding:42px 0 8px;
        text-align:center;
        font-size: 9.372px;
        color:#aaa;
        font-weight:500;
    }
    #landing .main_con03 .pager span b {
        padding:8px 6px;
        font-size:14px;
    }
    #landing .main_con03 .pager span.swiper-pagination-bullet-active b {
        font-size:18px;
        border-bottom:3.327px solid #F63540;
    }
}

 /* main_con04 */
#landing .main_con04 {
    padding:150px 0 0;
}
#landing .main_con04 .inner {
    display:flex; 
    align-items: flex-start;
    justify-content: space-between;
}
#landing .main_con04 .tit_box {
    padding-top:40px;
}
#landing .main_con04 .animate_box {
    display:flex; align-items: center;
    gap:70px;
}
#landing .main_con04 .animate_box .img_box {
    position:relative;
    overflow:hidden;
    width:391px;
    max-width:100%;
}
#landing .main_con04 .animate_box .mock_img {
    width:100%;
}
#landing .main_con04 .animate_box i {
    overflow-x:hidden;
    overflow-y:scroll;
    position:absolute; 
    left: 5.8%;
    top: 2.2%;
    width: 88.9%;
    height: 94.78%;
    border-radius:45px;
}
#landing .main_con04 .animate_box i::-webkit-scrollbar {
    width:0;
}
#landing .main_con04 .animate_box .list_box {
    position:relative;
    padding:125px 0 125px 40px;
}
#landing .main_con04 .animate_box .list_box:before {
    content:"";
    position:absolute; left:0; top:0; 
    width:6px; height:100%;
    background-color: #E7E7E7;
    border-radius:10px;
}
#landing .main_con04 .animate_box .list_box:after {
    content:""; z-index:1;
    position:absolute; left:0; top:0; 
    width:6px; height:21%;
    background-color: #FF475D;
    border-radius:10px;
    transition:height 0.5s;
}
#landing .main_con04 .animate_box .list_box.path2:after {
    height:40.5%;
}
#landing .main_con04 .animate_box .list_box.path3:after {
    height:60%;
}
#landing .main_con04 .animate_box .list_box.path4:after {
    height:100%;
}
#landing .main_con04 .animate_box .list_box li {
    position:relative;
    display:flex; align-items: center;
    width:150px; height:40px;
    color:#000;
    font-size:22px;
    font-weight: 800;
    line-height: 133%; 
    letter-spacing: -0.44px;
    cursor:pointer;
    transition:font-size 0.5s;
}
#landing .main_con04 .animate_box .list_box li span {
    opacity:0.3;
    transition:opacity 0.5s;
}
#landing .main_con04 .animate_box .list_box li.active {
    font-size:26px;
}
#landing .main_con04 .animate_box .list_box li.active span {
    opacity:1; 
}
#landing .main_con04 .animate_box .list_box li:before {
    content:'';
    position:absolute; left:-47px; top:calc(50% - 4px);
    width:20px; height:8px;
    background-color: #e7e7e7;
    transition:all 0s 0s; 
}
#landing .main_con04 .animate_box .list_box li.active:before {
    transition:all 0s 0.4s; 
}
#landing .main_con04 .animate_box .list_box li:nth-of-type(4).active:before {
    transition:all 0s 0.2s; 
}
#landing .main_con04 .animate_box .list_box li:first-of-type:before {
    background-color: #FF475D;
}
#landing .main_con04 .animate_box .list_box.path2 li:nth-of-type(2):before {
    background-color: #FF475D;
}
#landing .main_con04 .animate_box .list_box.path3 li:nth-of-type(2):before,
#landing .main_con04 .animate_box .list_box.path3 li:nth-of-type(3):before {
    background-color: #FF475D;
}

#landing .main_con04 .animate_box .list_box.path4 li:nth-of-type(2):before,
#landing .main_con04 .animate_box .list_box.path4 li:nth-of-type(3):before,
#landing .main_con04 .animate_box .list_box.path4 li:nth-of-type(4):before {
    background-color: #FF475D;
}

#landing .main_con04 .animate_box .list_box li + li {
    margin-top:95px;
}

#landing .main_con04 .video_box {
    width:50%;
    text-align: center;
}
#landing .main_con04 .video_box .mo_ver {
    display:none;
}

@media all and (max-width:991px){
    #landing .main_con04 .inner {
        display:block;
    }
    #landing .main_con04 .video_box {
        width:100%;
    }
    #landing .main_con04 .video_box .pc_ver {
        display:none;
    }
    #landing .main_con04 .video_box .mo_ver {
        display:inline-block;
    }
    #landing .main_con04 .animate_box .img_box {
        width:243px; 
    }
    #landing .main_con04 .animate_box {
        width:100%;
        margin-top:40px; 
        gap:28px;
        justify-content: center;
    }
    #landing .main_con04 .animate_box i {
        border-radius:28px;
    }

    #landing .main_con04 .animate_box .list_box {
        padding:70px 0px 70px 15px; 
    }
    #landing .main_con04 .animate_box .list_box:after {
        height:19%;
    }
    #landing .main_con04 .animate_box .list_box.path2:after {
        height:39.5%;
    }
    #landing .main_con04 .animate_box .list_box.path3:after {
        height:61%;
    }

    #landing .main_con04 .animate_box .list_box:before ,
    #landing .main_con04 .animate_box .list_box:after {width:4px; }
    #landing .main_con04 .animate_box .list_box li:before {
        top:calc(50% - 2.5px); left:-19px;
        width:12px; height:5px;
    }
    #landing .main_con04 .animate_box .list_box li {
        width:65px; 
        font-size:12px;
    }
    #landing .main_con04 .animate_box .list_box li + li {
        margin-top:60px;
    }
    #landing .main_con04 .animate_box .list_box li.active {
        font-size:14px;
    }

}

@media all and (max-width:500px){
    #landing .main_con04 .animate_box .list_box {width:20%;}

}

#landing .main_con05 {
    padding-top:150px;
}
#landing .main_con05 .inner {
    display:flex; 
    align-items: flex-start;
    justify-content: space-between;
}
#landing .main_con05 .tit_box {
    padding-top:19%;
}
#landing .main_con05 .video_box {
    width:58%;
}

@media all and (max-width:991px){
    #landing .main_con05 .tit_box {
        padding-top:0;
    }
    #landing .main_con05 .inner {
        display:block;
    }
    #landing .main_con05 .video_box {
        width:100%;
        text-align:center;
    }
}


/* main_con06 */
#landing .main_con06 {
    padding-top:200px;
}
#landing .main_con06 .inner {
    position:relative;
}
#landing .main_con06 .tit_box {
    z-index:10;
    position:absolute;
    left:10px; top:0;
    width:29%;
}
#landing .main_con06 .summary {
    position:absolute; left:0; bottom:100%;
    width:100%;
    display: block;
    padding:0 0 12px;
    text-align:center;
    font-size: 14px;
    color:#aaa;
    font-weight:500;
}
#landing .main_con06 .tit_box span {
    display:none;
}
#landing .main_con06 .slide_box {
    overflow:hidden;
    position:relative;
    /* padding-top:470px; */
}
#landing .main_con06 .slide_box:before {
    content:'';
    z-index:10;
    position:absolute; left:0; bottom:-3px;
    width:100%; height:100%;
    background-image: linear-gradient(180deg, transparent 65% 0, #FFF 95% 100%);
}
#landing .main_con06 .slide_box .navigation {
    z-index:10;
    position:absolute; top:50%;
    cursor:pointer;
}
#landing .main_con06 .slide_box .navigation.prev {
    left:0; 
}
#landing .main_con06 .slide_box .navigation.next {
    right:0; 
}
#landing .main_con06 .slide_box .navigation.swiper-button-disabled {
    opacity:0;
}
#landing .main_con06 .back_slide {
    position:absolute;
    left:0; bottom:0;
    width:100%;
    padding:0 20px;
    opacity:0.9;
}
#landing .main_con06 .back_slide:before {
    content:'';
    z-index:2;
    position:absolute;
    left:0; top:0; 
    width:30%; height:100%;
    background-image: linear-gradient(-90deg, transparent 20% 0, #FFF 80% 100%);
}
#landing .main_con06 .back_slide:after {
    content:'';
    z-index:2;
    position:absolute;
    right:0; top:0; 
    width:30%; height:100%;
    background-image: linear-gradient(90deg, transparent 20% 0, #FFF 80% 100%);
}
#landing .main_con06 .back_slide li {
    overflow:hidden;
    height:347px;
    border:1px solid #E7E7E7;
    box-shadow:0px 14px 26px -4px rgba(0, 0, 0, 0.15);
    border-radius:10px;
}
#landing .main_con06 .center_box {
    z-index:2;
    position:relative;
    width:391px;
    max-width:75%;
    margin:0 auto;
}
#landing .main_con06 .center_box > img {
    z-index:3;
    position:absolute; left:0; top:0; 
    width:100%;
}
#landing .main_con06 .center_box .center_slide {
    position:relative;
    top: 19px;
    z-index:4;
    overflow:hidden;
    width:calc(100% - 42px);
    max-height:630px;
    /* padding:13px 0 0; */
    margin:0 auto;
    border-top-right-radius:50px;
    border-top-left-radius:50px;
}

#landing .main_con06 .center_box .center_slide img {
    display:block;
}
#landing .main_con06 .pager {
    display:flex;
    align-items: center;
    width:100%;
    padding-bottom:10px;
}
#landing .main_con06 .pager span {
    width:33%;
    height:auto;
    background-color: transparent;
    border-radius:0;
    font-weight: 800;
    text-align:center;
    opacity:1;
}
#landing .main_con06 .pager span b {
    padding:0 0 5px;  
    color:#aaa;
    font-size: 24px;
}
#landing .main_con06 .pager span.swiper-pagination-bullet-active b {
    font-size:36px;
    color:#F63540;   
    border-bottom:5px solid #F63540;
}

@media all and (max-width:991px){
    #landing .main_con06 {
        padding-top:150px
    }
    #landing .main_con06 .back_slide {display:none;}
    #landing .main_con06 .tit_box {
        position:static;
        width:100%;
    }
    #landing .main_con06 .summary {
        display:none;
    }
    #landing .main_con06 .tit_box span {
        display: block;
        padding:42px 0 8px;
        text-align:center;
        font-size: 9.372px;
        color:#aaa;
        font-weight:500;
    }
    #landing .main_con06 .pager span b {
        padding:8px 6px;
        font-size:14px;
    }
    #landing .main_con06 .pager span.swiper-pagination-bullet-active b {
        font-size:18px;
        border-bottom:3.327px solid #F63540;
    }
}

@media all and (max-width:565px){
    #landing .main_con06 .center_box .center_slide {
        max-height:110vw;
    }
}

#landing .main_con07 {
    position: relative;
    padding:300px 0 0;
    background:url('../img/landing/main07_bg.png') no-repeat center bottom;
    margin-bottom:300px; 
}
#landing .main_con07 .inner {
    display:flex;
    align-items: center;
    justify-content: center;
}
#landing .main_con07 .mock_img {
    position:relative;
    width:331px; 
    max-width:80%;
    margin:0 auto;
}
#landing .main_con07:before {
    content:'';
    z-index: 1;
    position:absolute;
    left:0; bottom:0; 
    width:100%; height:290px;
    background-image: linear-gradient(180deg, transparent  0, #FFF 53% 100%);
}
#landing .main_con07 .mo_ver {
    display:none; 
}
#landing .main_con07 p {
    position:absolute; 
    z-index:1;
    left:0; bottom:90px;
    width:100%;
    text-align:center;
    font-size: 40px;
    font-weight:700;
    line-height: 135%;
    /* letter-spacing: -1.6px; */
}
#landing .main_con07 a {
    position: relative;
    z-index:1;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:-20px;
    height:56px;
    font-size: 17px;
    font-family:Pretendard;
    font-weight:600;
    color:#fff;
    background-color: #F63540;
    border-radius: 6px;
    letter-spacing: -0.51px;
}

@media all and (max-width:991px){
    #landing .main_con07 {
        padding-top:150px; 
        margin-bottom:70px;
    }
    #landing .main_con07 .inner {
        display:block; 
    }
    #landing .main_con07 p {
        position:static; 
        font-size: 38px;
        letter-spacing: -0.76px;
    }
    #landing .main_con07 a {
        width:151px;
        height:41px; 
        margin:18px auto 70px; 
    }
    #landing .main_con07 .mo_ver {
        display:block; 
    }
    #landing .main_con07 .mock_img p,
    #landing .main_con07 .mock_img a{
        display:none;
    }
    
}


/* #=========================================#
        회사소개
#=========================================# */

#landing .about_intro {
    position:relative;
    background-color: #fff;
    margin-bottom:0px;
}
#landing .about_intro.bgtrans {
    background-color:transparent;
}
#landing .about_intro .scroll_more {
    position:absolute;
    left:calc(50% - 100px); bottom:0;
    width:200px;
    font-size: 15px;
    font-weight: 700;
    line-height: 133%;
    color:#AAA;
    text-align:center;
}
#landing .about_intro .scroll_more i {
    display:block;
    margin-top:16px;
}
#landing .about_intro .scroll_more.off {
    display:none;
}

#landing .about_intro .inner{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height:100vh;
}

#landing .about_intro #lottie{
    background-color:#ffffff;
    width:360px; 
    height:320px;
    display:block;
    overflow: hidden;
    margin:0 auto;
    transform: translate3d(0,0,0);
    text-align: center;
    opacity: 1;
    transition:all 0.5s;
}
#landing .about_intro p {
    opacity:0;
    position:relative;
    top:20px;
    padding-top:30px;
    margin-top:-170px;
    font-size:58px;
    text-align:center;
    font-weight: 800;
    line-height: 130.11%; 
    letter-spacing: -2.32px;
}
#landing .about_intro p br.mo_ver {
    display:none;
}
#landing .about_intro p b {
    color:#E72C37;
    font-weight:900;
}

#landing .about_intro.off #lottie {
    background-color:transparent;
    width:185px;
    height:150px;
    margin:0 auto;
    transition:all 0.5s;
}
#landing .about_intro.off p {
    opacity:1;
    top:0;
    padding-top:30px;
    margin-top:0;
    transition:opacity 0.5s 0.5s, top 0.5s 0.5s, margin 0.4s 0s;
}

@media all and (max-width:991px){
    #landing .about_intro {
        margin-bottom:0px
    }
    
    #landing .about_intro p {
        font-size: 27px;
        font-weight: 700;
        line-height: 134%;
        letter-spacing: -1.08px;
    }
    #landing .about_intro p br.mo_ver {
        display:block;
    }
}

#landing .content.sub {
    position:relative; z-index:2;
}
#landing .lottebg_box {
    position:fixed;
    left:0; top:0; 
    width:100%;
    padding-bottom:56%;
}
#landing #lottiebg{
    z-index:1;
    position:fixed;
    left:0; bottom:0; 
    background-color:#ffffff;
    width:100%;
    height:100%;
    display:block;
    overflow: hidden;
    transform: translate3d(0,0,0);
    text-align: center;
    opacity: 1;
}
#landing .lottemobg_box {
    position:absolute;
    left:0; top:0; 
    width:100%;
    padding-bottom:217%;
}
#landing #lottiebgmo {
    display:none;
    z-index:1;
    position:absolute;
    left:0; bottom:0; 
    background-color:#ffffff;
    width:100%;
    height:100%;
    /* display:block; */
    overflow: hidden;
    transform: translate3d(0,0,0);
    text-align: center;
    opacity: 1;
}

@media all and (max-width:991px){
    #landing #lottiebg {
        display:none;
    }
    #landing #lottiebgmo {
        display:block;
    }
}



#landing #landing .about_layout {
    overflow:hidden;
    padding-top:180px; 
}
#landing #landing .about_layout .inner {
    display:flex;
}
#landing #landing .about_layout .tit_box {
    width:50%;
    padding-left:110px;
}
#landing #landing .about_layout .video_box {
    position:relative;
}
#landing #landing .about_layout .video_box:before {
    content:'';
    position:absolute;
    left:0; bottom:0; 
    width:1000%; height:100px;
    background-image: linear-gradient(180deg, transparent 0, #FFF 90% 100%);
}
#landing #landing .about_layout .right_box {
    width:50%;
}
#landing #landing .about_layout .right_box video {
    width:708px;
    max-width:708px;
}
#landing #landing .about_layout .right_box img.mo_ver {
    display:none;
}

@media all and (max-width:1200px){
    #landing #landing .about_layout .tit_box {
        padding-left:50px;
    }
}
@media all and (max-width:991px){
    #landing #landing .about_layout {
        padding-top:142px;
    }
    #landing #landing .about_layout .inner {
        display:block;
    }
    #landing #landing .about_layout .tit_box {
        width: 100%;
        padding-left:0;
    }
    #landing #landing .about_layout .right_box {
        width: 100%;
        margin-top:48px;
    }
    #landing #landing .about_layout .video_box:before {
        display:none;
    }
    #landing #landing .about_layout .right_box video {
        position:relative;
        left:-16px;
    }

    #landing #landing .about_layout .right_box img.pc_ver {
        display:none;
    }
    #landing #landing .about_layout .right_box img.mo_ver {
        display:block;
        margin:0 auto;
    }
}
@media all and (max-width:500px){
    #landing #landing .about_layout .right_box video {
        width:calc(150% + 32px);
        max-width:calc(150% + 32px);
    }
}


#landing .about_service {
    padding:90px 0;
    margin:150px 0;
    background-color: #FAFAFA;
}
#landing .about_service .img_box {
    margin-top:150px;
} 
#landing .about_service .img_box p {
    margin-bottom:24px;
    color:#000;
    font-size: 26px;
    font-weight: 600;
    line-height: 138.462%;
    letter-spacing: -0.52px;
    text-align: center;
}
#landing .about_service .img_box .img {
    overflow:hidden;
    position:relative;
    width:338px;
    max-width:90%;
    padding-bottom:550px;
    margin:0 auto;
}
#landing .about_service .img_box .img:before {
    content:'';
    z-index: 1;
    position:absolute; 
    left:0; bottom:0; 
    width:100%;
    height:50%;
    background-image: linear-gradient(180deg, transparent 15% 0, #FAFAFA 89% 100%);
}
#landing .about_service .img_box .img img {
    position:absolute;
}
@media all and (max-width:991px){
    #landing .about_service {
        padding:50px 0;
        margin:142px 0;
    }
    #landing .about_service .img_box {
        margin-top:100px;
    }
}
@media all and (max-width:420px){
    #landing .about_service .img_box .img {
        padding-bottom:130vw;
    }
}

#landing #landing .about_layout02 {
    padding-bottom:248px;
}
#landing #landing .about_layout02 .sns_box {
    display:flex;
    align-items: center;
    justify-content: center;
    gap:16px;
    margin-bottom:34px;
}
#landing #landing .about_layout02 .tit_area {
    text-align:center;
}
#landing #landing .about_layout02 .tit_area h4 {
    font-size: 26px;
    font-weight: 600;
    line-height: 138.462%; 
    letter-spacing: -0.52px;
    color:#000;
}
#landing #landing .about_layout02 .tit_area a {
    display:block;
    font-size: 14px;
    font-weight: 400;
    line-height: 171.429%;
    letter-spacing: -0.21px;
    color:#6B6B6B;
    font-family:Pretendard;

}

#landing #landing .about_layout02 .channel_box {
    margin-top:148px;
}

#landing #landing .about_layout02 .channel_box .img_box {
    width:878px;
    max-width:100%;
    margin:24px auto 0;
}
#landing #landing .about_layout02 .channel_box .img_box img.mo_ver {
    display:none;
}

@media all and (max-width:991px){
    #landing #landing .about_layout02 {
        padding-bottom:100px;
    }
    #landing #landing .about_layout02 .channel_box {
        margin-top:100px;
    }
    #landing #landing .about_layout02 .channel_box .img_box img.pc_ver {
        display:none;
    }
    #landing #landing .about_layout02 .channel_box .img_box img.mo_ver {
        display:block;
    }
}


#landing .policy_box {
    padding:140px 0;
}
#landing .policy_box .box {
    width:840px;
    max-width:100%;
}
#landing .policy_box h4 {
    font-size: 46px;
    font-weight: 900;
    line-height: 139.13%;
    letter-spacing: -1.84px;
}
#landing .policy_box h4.mt {}
#landing .policy_box h5 {
    margin-top:36px;
    font-size: 38px;
    font-weight: 800;
    line-height: 136.842%;
    letter-spacing: -0.76px;
}
#landing .policy_box h5.mt {
    margin-top:80px;
}
#landing .policy_box h6 {
    margin-top:32px;
    font-size: 28px;
    font-weight: 800;
    line-height: 142.857%;
    letter-spacing: -0.56px;
}
#landing .policy_box h6.mt {
    margin-top:76px
}
#landing .policy_box p {
    margin-top:19px;
}
#landing .policy_box ol {
    margin-top:16px;
    padding-left:20px; 
    list-style:auto;
}
#landing .policy_box ol ol {
    margin:10px 0;
}
#landing .policy_box p ,
#landing .policy_box ol li,
#landing .policy_box ul li {
    font-size: 19px;
    font-weight: 400;
    line-height: 157.895%;
    letter-spacing: -0.38px;
}

#landing .policy_box ul {
    padding-left:20px;
    list-style: disc;
}
#landing .policy_box ul.mt {
    margin-top:20px; 
}
#landing .policy_box ol.unset {
    list-style: none;
}
#landing .policy_box b {font-weight:bold;}

@media all and (max-width:991px){
    #landing .policy_box {
        padding:100px 0;
    }
    #landing .policy_box h4 {
        font-size:40px;
        line-height: 130%; 
        letter-spacing: -1.6px;
    }
    #landing .policy_box h5 {
        font-size: 34px;
        line-height: 129.412%;
        letter-spacing: -0.68px;
    }
    #landing .policy_box h6 {
        font-size: 26px;
        line-height: 138.462%;
        letter-spacing: -0.52px;
    }
    #landing .policy_box p,
    #landing .policy_box ol li,
    #landing .policy_box ul li {
        font-size: 16px;
        line-height: 156.25%; 
        letter-spacing: 0.16px;
    }
}







/*─────────────────────────────────────────────────
											황팀 추가
─────────────────────────────────────────────────*/
#landing .video_box{font-size:0;overflow:hidden;}
#landing .video_box video{position:relative;top:3px;}

#landing .main_con03 .pagerContainer{overflow:hidden;}
#landing .main_con03 .pager{transition:all 0.3s cubic-bezier(0.5,0,0,1);}
#landing .main_con03[data-active='0'] .pager{position:relative;left:33.33% !important;bottom:0; }
#landing .main_con03[data-active='1'] .pager{position:relative;left:0 !important;bottom:0; }
#landing .main_con03[data-active='2'] .pager{position:relative;left:-33.33% !important;bottom:0; }


#landing .main_con03_mobile {padding-top:150px;}
#landing .main_con03_mobile .inner {position:relative;}
#landing .main_con03_mobile .tit_box {z-index:10;position:static;left:10px; top:0;width:100%;}
#landing .main_con03_mobile .tit_box span {display: block;padding:42px 0 8px;text-align:center;font-size: 9.372px;color:#aaa;font-weight:500;}
#landing .main_con03_mobile .slide_box {overflow:hidden;position:relative;/* padding-top:470px; */}
#landing .main_con03_mobile .slide_box:before {content:'';z-index:10;position:absolute; left:0; bottom:-3px;width:100%; height:100%;background-image: linear-gradient(180deg, transparent 65% 0, #FFF 95% 100%);}
#landing .main_con03_mobile .slide_box .navigation {z-index:10;position:absolute; top:50%;cursor:pointer;}
#landing .main_con03_mobile .slide_box .navigation.prev {left:0; }
#landing .main_con03_mobile .slide_box .navigation.next {right:0; }
#landing .main_con03_mobile .slide_box .navigation.swiper-button-disabled {opacity:0;}
#landing .main_con03_mobile .back_slide {display:none;}
#landing .main_con03_mobile .center_box {z-index:2;position:relative;width:391px;max-width:75%;margin:0 auto;}
#landing .main_con03_mobile .center_box > img {z-index:3;position:absolute; left:0; top:0; width:100%;}
#landing .main_con03_mobile .center_box .center_slide {position:relative;top: 19px;z-index:4;overflow:hidden;width:calc(100% - 42px);/* padding:13px 0 0; */margin:0 auto;border-top-right-radius:50px;border-top-left-radius:50px;}
#landing .main_con03_mobile .center_box .center_slide img {display:block;}
#landing .main_con03_mobile .pager {display:flex;align-items: center;width:100%;}
#landing .main_con03_mobile .pager span {width:33%;height:auto;background-color: transparent;border-radius:0;font-weight: 800;text-align:center;opacity:1;}
#landing .main_con03_mobile .pager span b {padding:8px 6px;font-size:14px;color:#aaa;}
#landing .main_con03_mobile .pager span.swiper-pagination-bullet-active b {font-size:18px;color:#F63540;border-bottom:3.327px solid #F63540;}


#landing .main_con06 .pagerContainer{overflow:hidden;}
#landing .main_con06 .pager{transition:all 0.3s cubic-bezier(0.5,0,0,1);}
#landing .main_con06[data-active='0'] .pager{position:relative;left:33.33% !important;bottom:0; }
#landing .main_con06[data-active='1'] .pager{position:relative;left:0 !important;bottom:0; }
#landing .main_con06[data-active='2'] .pager{position:relative;left:-33.33% !important;bottom:0; }


#landing .main_con06_mobile {padding-top:150px;}
#landing .main_con06_mobile .inner {position:relative;}
#landing .main_con06_mobile .tit_box {z-index:10;position:static;left:10px; top:0;width:100%;}
#landing .main_con06_mobile .summary {display:none;}
#landing .main_con06_mobile .tit_box span {display: block;padding:42px 0 8px;text-align:center;font-size: 9.372px;color:#aaa;font-weight:500;}
#landing .main_con06_mobile .slide_box {overflow:hidden;position:relative;/* padding-top:470px; */}
#landing .main_con06_mobile .slide_box:before {content:'';z-index:10;position:absolute; left:0; bottom:-3px;width:100%; height:100%;background-image: linear-gradient(180deg, transparent 65% 0, #FFF 95% 100%);}
#landing .main_con06_mobile .slide_box .navigation {z-index:10;position:absolute; top:50%;cursor:pointer;}
#landing .main_con06_mobile .slide_box .navigation.prev {left:0; }
#landing .main_con06_mobile .slide_box .navigation.next {right:0; }
#landing .main_con06_mobile .slide_box .navigation.swiper-button-disabled {opacity:0;}
#landing .main_con06_mobile .back_slide {display:none;}
#landing .main_con06_mobile .center_box {z-index:2;position:relative;width:391px;max-width:75%;margin:0 auto;}
#landing .main_con06_mobile .center_box > img {z-index:3;position:absolute; left:0; top:0; width:100%;}
#landing .main_con06_mobile .center_box .center_slide {position:relative;top: 19px;z-index:4;overflow:hidden;width:calc(100% - 42px);max-height:630px;/* padding:13px 0 0; */margin:0 auto;border-top-right-radius:50px;border-top-left-radius:50px;}
#landing .main_con06_mobile .center_box .center_slide img {display:block;}
#landing .main_con06_mobile .pager {display:flex;align-items: center;width:100%;}
#landing .main_con06_mobile .pager span {width:33%;height:auto;background-color: transparent;border-radius:0;font-weight: 800;text-align:center;opacity:1;}
#landing .main_con06_mobile .pager span b {padding:8px 6px;color:#aaa;font-size: 14px;}
#landing .main_con06_mobile .pager span.swiper-pagination-bullet-active b {font-size:18px;color:#F63540;border-bottom:3.327px solid #F63540;}
@media all and (max-width:565px){
	#landing .main_con06_mobile .center_box .center_slide {max-height:110vw;}
}



@media screen and (min-width:991px){
	#landing .mobile_only{display:none !important;}
}
@media screen and (max-width:990px) {
	#landing .pc_only{display:none !important;}
}


#landing .bored{border:1px solid red !important;}

#landing #lottie svg rect { y:1;}